.comidas{
    border: solid 5px;
    width: 70%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 2%;
    }
    
    p{
        text-align: justify;
    }
    
    img{
    
        width: 50%;
        height: 35%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
     .comidas p  {
        width: 100%;
        height: 65%;
    }